@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F0F10;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C9A66B;
}